<mat-toolbar color="primary" *ngIf="_isVisible">
  <div>

    <span>Simple Kanban Board</span>
    <span class="example-spacer"></span>
  </div>
  <div class="button_box">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="home()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button *ngIf="_isAdmin" (click)="openAdminpanel()">
      <mat-icon [matBadge]="badge_input" [matBadgeHidden]="hidden" matBadgeOverlap="true" matBadgeColor="accent"
        matBadgePosition="after">admin_panel_settings</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" *ngIf="!_isAdmin" (click)="openUserpanel()">
      <mat-icon>
        person
      </mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<main>

  <router-outlet></router-outlet>

</main>